/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { position: relative; font-size: 14px; line-height: 1.4; background: url("../img/bg-pic.png"); background-size: cover; }

.wrapsite { background: url(../img/bg-top.png) no-repeat 50% 0; }

.container { margin: 0 auto; width: 980px; color: #9e846b; font-weight: 400; font-family: "PT Sans", Arial, sans-serif; }
.container a { color: #e0ca92; font-family: "PT Serif", Arial, sans-serif; }
.container a:hover { text-decoration: none; }

.container__mod { overflow: hidden; }

.title-l { position: relative; padding-bottom: 6px; text-transform: uppercase; font-size: 30px; font-weight: normal; line-height: 1; letter-spacing: 2px; color: #f2cf71; overflow: hidden; font-family: "PT Serif", Arial, sans-serif; }
.title-l .line { position: absolute; left: -40%; bottom: -7px; width: 900px; }

.btn { position: relative; padding-left: 10px; width: 240px; height: 60px; text-transform: uppercase; text-decoration: none; line-height: 60px; letter-spacing: 1px; font-size: 24px; color: #f1ca66; display: inline-block; background: url("../img/btn-bg.png"); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "PT Serif", Arial, sans-serif; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; }
.btn:hover { background: url("../img/btn-h.png"); }
.btn:active { background: url("../img/btn-ac.png"); }
.btn span { position: absolute; top: 15px; left: 10px; width: 220px; height: 20px; z-index: -2; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-box-shadow: 0px 20px 30px black; -webkit-box-shadow: 0px 20px 30px black; box-shadow: 0px 20px 30px black; }

.btn-pg { padding: 1px; height: 20px; border: 1px solid #4c382f; font-size: 12px; line-height: 20px; text-decoration: none; display: inline-block; background: #50362c; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; font-family: "PT Sans", Arial, sans-serif; }
.btn-pg span { padding: 2px 6px; color: #9b8168; border: 1px solid #714f3f; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn-pg:hover { background: #33231c; border-color: #33231c; }
.btn-pg:hover span { border-color: #33231c; }
.btn-pg:active { background: #8c755e; }
.btn-pg:active span { color: #3b2920; border: 1px solid #8c755e; }
.btn-pg.is-active { background: #8c755e; }
.btn-pg.is-active span { color: #3b2920; border: 1px solid #8c755e; }

.btn-sbm { padding: 1px; border: 1px solid #4c382f; text-align: center; display: inline-block; background-image: -moz-linear-gradient(#483128, #3f2b23); background-image: -webkit-linear-gradient(#483128, #3f2b23); background-image: linear-gradient(#483128, #3f2b23); -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; transition: 0.1s; font-family: "PT Serif", Arial, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn-sbm span { width: 234px; height: 30px; color: #f2cf71; font-size: 18px; line-height: 28px; border: 1px solid #714f3f; display: inline-block; }
.btn-sbm:hover { background-image: -moz-linear-gradient(#32221c, #473128); background-image: -webkit-linear-gradient(#32221c, #473128); background-image: linear-gradient(#32221c, #473128); }
.btn-sbm:hover span { color: #b79e85; border-color: transparent; }
.btn-sbm:active { -moz-box-shadow: inset 0px 4px 10px #2d1f19; -webkit-box-shadow: inset 0px 4px 10px #2d1f19; box-shadow: inset 0px 4px 10px #2d1f19; }
.btn-sbm:active span { color: #b79e85; border-color: transparent; }

.btn-sbm_sha { position: relative; }
.btn-sbm_sha:before { position: absolute; content: ""; left: 25px; right: 25px; bottom: 8px; height: 1px; z-index: -1; -moz-box-shadow: 0px 4px 10px 10px #2d1f19; -webkit-box-shadow: 0px 4px 10px 10px #2d1f19; box-shadow: 0px 4px 10px 10px #2d1f19; }
.btn-sbm_sha:active:before { bottom: 12px; -moz-transition: 0.4s; -o-transition: 0.4s; -webkit-transition: 0.4s; transition: 0.4s; }

.soc-link { position: relative; padding-left: 17px; line-height: 1; color: #8c755e !important; display: inline-block; }
.soc-link i { position: absolute; content: ""; left: 0; top: 3px; background: url('../img/icons-sd69d07c121.png') 0 -216px no-repeat; width: 12px; height: 10px; }
.soc-link:active { text-decoration: none; color: #6f4e3e !important; }
.soc-link:active i { background: url('../img/icons-sd69d07c121.png') 0 -236px no-repeat; width: 12px; height: 10px; }
.soc-link:hover { text-decoration: none; }

.soc-link_dis i { top: 1px; background: url('../img/icons-sd69d07c121.png') 0 -355px no-repeat; width: 13px; height: 15px; }
.soc-link_dis:active i { background: url('../img/icons-sd69d07c121.png') 0 -380px no-repeat; width: 13px; height: 15px; }

.soc-link_fot i { background: url('../img/icons-sd69d07c121.png') 0 -405px no-repeat; width: 12px; height: 10px; }
.soc-link_fot:active i { background: url('../img/icons-sd69d07c121.png') 0 -425px no-repeat; width: 12px; height: 10px; }

.breadcrumbs { margin: 18px 0 12px; letter-spacing: 0.5px; line-height: 1; }
.breadcrumbs li { position: relative; padding: 0 8px; font-size: 12px; color: #9b8168; display: inline-block; font-family: "PT Sans", Arial, sans-serif; }
.breadcrumbs li a { font-size: 12px; color: #9b8168; font-family: "PT Sans", Arial, sans-serif; }
.breadcrumbs li a:hover { text-decoration: none; }
.breadcrumbs li:before { position: absolute; content: ""; top: 50%; right: -1.5px; margin-top: -1.5px; width: 3px; height: 3px; background: #714f3f; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.breadcrumbs li:first-child { padding-left: 0; }
.breadcrumbs li:last-child:before { display: none; }

.soc { margin: 42px 0 20px; }
.soc li { position: relative; width: 20px; height: 20px; display: inline-block; background: #3d2b20; line-height: 20px; text-align: center; overflow: hidden; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.soc li:hover { background: #8c755e; }
.soc li:active { background: none; }
.soc li a { position: absolute; top: 50%; left: 50%; padding: 6px; }
.soc li .vk { margin: -4.5px 0 0 -4.5px; background: url('../img/icons-sd69d07c121.png') 0 -23px no-repeat; width: 9px; height: 9px; }
.soc li .tw { margin: -6px 0 0 -9px; background: url('../img/icons-sd69d07c121.png') 0 -661px no-repeat; width: 18px; height: 12px; }
.soc li .f { margin: -6px 0 0 -2.5px; background: url('../img/icons-sd69d07c121.png') 0 -172px no-repeat; width: 5px; height: 12px; }
.soc li .in { margin: -5px 0 0 -5px; background: url('../img/icons-sd69d07c121.png') 0 -256px no-repeat; width: 10px; height: 10px; }
.soc li .g { margin: -6px 0 0 -4.5px; background: url('../img/icons-sd69d07c121.png') 0 -194px no-repeat; width: 7px; height: 12px; }

.pagination { margin-top: 20px; font-size: 12px; }
.pagination li { margin-right: 2px; display: inline-block; font-family: "PT Sans", Arial, sans-serif; }
.pagination li a { height: 18px; width: 18px; line-height: 18px; text-align: center; font-family: "PT Sans", Arial, sans-serif; }
.pagination li a span { height: 18px; padding: 0; display: block; }
.pagination li .btn-pg_pn { width: 56px; }
.pagination li:first-child { margin-right: 10px; }

.footer { position: relative; margin: 20px auto 0; width: 980px; height: 158px; font-size: 12px; color: #8c755e; font-family: "PT Sans", Arial, sans-serif; }
.footer .block-shadow { top: 0; height: 40px; -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }

.footer__copy { float: left; margin-top: 45px; text-transform: uppercase; }

.footer__right { float: right; text-align: right; }

.development { position: relative; padding-right: 50px; display: inline-block; }
.development a { position: absolute; top: 50%; right: 0; margin-top: -8px; background: url('../img/icons-sd69d07c121.png') 0 -146px no-repeat; width: 41px; height: 16px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l__left { overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.l .l__right { float: right; margin-left: 55px; padding: 2px; width: 278px; border: 1px solid #4c382f; background: #473229; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.l .l__right2 { padding: 2px; width: 280px; color: #9b8168; background: none; border: none; font-family: "PT Serif", Arial, sans-serif; }
.l .l__left_pt { padding-top: 15px; }

.header { margin: 0 auto; padding-top: 10px; width: 980px; height: 92px; color: #9e846b; line-height: 1; font-weight: 400; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "PT Sans", Arial, sans-serif; }

.header__left { float: left; letter-spacing: 0.5px; }
.header__left .title-top { margin: 38px 0 9px 0; letter-spacing: 1.1px; }

.header__right { float: right; text-align: right; }

.title-top { font-weight: normal; font-size: 24px; text-transform: uppercase; color: #f2cf71; font-family: "PT Serif", Arial, sans-serif; }

.title-article { color: #e0ca92; font-size: 24px; font-weight: 400; line-height: 0.7; letter-spacing: 1.2px; font-family: "PT Serif", Arial, sans-serif; }

.menu-top { margin-bottom: 25px; }

.menu-top__item { margin-left: 15px; list-style: none; font-size: 12px; display: inline-block; font-family: "PT Serif", Arial, sans-serif; }
.menu-top__item a { color: #ceb397; }
.menu-top__item a:hover { text-decoration: none; }

.header__address { color: #8c755e; }
.header__address:hover { text-decoration: none; }

.header__phone { margin-bottom: 8px; color: #e0ca92; letter-spacing: 0.6px; }

.menu-l { position: relative; margin-top: 25px; width: 100%; height: 50px; border-top: solid 1px #4c382f; border-bottom: solid 1px #4c382f; background: #473229; }
.menu-l:before { position: absolute; content: ""; left: 0; top: 4px; width: 100%; height: 1px; background: #714f3f; }
.menu-l:after { position: absolute; content: ""; left: 0; bottom: 4px; width: 100%; height: 1px; background: #714f3f; }

.menu { position: relative; margin: 0 auto; width: 980px; }

.shadow { position: absolute; left: -147px; bottom: 20px; height: 20px; width: 1274px; z-index: -1; -moz-box-shadow: 0px 20px 60px black; -webkit-box-shadow: 0px 20px 60px black; box-shadow: 0px 20px 60px black; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.menu__item { position: relative; padding: 0 6px; display: inline-block; line-height: 50px; letter-spacing: 0.85px; font-size: 16px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "PT Serif", Arial, sans-serif; }
.menu__item a { padding: 0 10px; color: #e4cf98; line-height: 22px; text-decoration: none; }
.menu__item a:hover { color: #f2cf71; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; }
.menu__item:active a { background: #1b120f; display: inline-block; -moz-box-shadow: inset 0 0 0 1px #33231c; -webkit-box-shadow: inset 0 0 0 1px #33231c; box-shadow: inset 0 0 0 1px #33231c; -moz-transition: 0.001s; -o-transition: 0.001s; -webkit-transition: 0.001s; transition: 0.001s; }
.menu__item:before { position: absolute; content: ""; top: 50%; right: -1.5px; margin-top: -1.5px; width: 3px; height: 3px; background: #714f3f; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.menu__item:first-child:after { position: absolute; content: ""; top: 50%; left: -1.5px; margin-top: -1.5px; width: 3px; height: 3px; background: #714f3f; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.cycle__row { position: relative; margin-top: 5px; margin-bottom: 23px; height: 460px; }

.cycle__item { width: 100%; height: 460px; }

.cycle__item_left { float: left; padding-left: 10px; width: 40%; }
.cycle__item_left img { float: left; padding-left: 18px; }

.cycle__item_right { float: right; padding-left: 40px; width: 60%; }

.cycle__item_leftmod { width: 52%; }

.cycle__item_rightmod { width: 48%; }

.cycle__item_left, .cycle__item_right { position: relative; text-align: center; color: #ceb397; font-size: 30px; font-weight: 400; letter-spacing: 1.65px; line-height: 45px; font-family: "PT Sans", Arial, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.cycle__item_left .cycle__shadow, .cycle__item_right .cycle__shadow { position: absolute; left: 50%; top: 45%; width: 0.1px; height: 0.1px; z-index: -1; -moz-box-shadow: 0 0 130px 30px white; -webkit-box-shadow: 0 0 130px 30px white; box-shadow: 0 0 130px 30px white; }
.cycle__item_left .title-slideshow, .cycle__item_right .title-slideshow { margin-top: 70px; padding: 0 0 20px 13px; color: #f2cf71; font-size: 40px; font-weight: 400; letter-spacing: 3.5px; line-height: 48px; font-family: "PT Serif", Arial, sans-serif; }
.cycle__item_left .cycle__text_big, .cycle__item_right .cycle__text_big { padding-left: 11px; font-size: 44px; letter-spacing: 4.4px; }
.cycle__item_left .btn, .cycle__item_right .btn { margin-top: 30px; }

.cycle__nav { position: absolute; top: 50%; margin-top: -26px; background: url('../img/icons-sd69d07c121.png') 0 -445px no-repeat; width: 22px; height: 44px; }
.cycle__nav i { position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer; }
.cycle__nav:hover i { opacity: 1; background: url('../img/icons-sd69d07c121.png') 0 -499px no-repeat; width: 22px; height: 44px; }

.cycle__nav_prev { left: -62px; }

.cycle__nav_next { right: -65px; -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }

.block-shadow { position: absolute; bottom: 0; left: -147px; height: 30%; width: 1274px; overflow: hidden; }
.block-shadow .shadow { position: absolute; height: 100px; left: 0; bottom: -125px; -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }
.block-shadow .line { background: #563522; }

.line { position: absolute; left: 0; bottom: -7px; width: 100%; height: 8px; background: #714a3a; -moz-border-radius: 150%; -webkit-border-radius: 150%; border-radius: 150%; }

.date { color: #8c755e; font-weight: normal; font-family: "PT Sans", Arial, sans-serif; }

.date_top { margin: 26px 0 7px; letter-spacing: 0.7px; }

.date_doings { margin: 17px 0 10px; }

.article { position: relative; margin: 18px 0 13px; padding: 30px 0 19px 3px; line-height: 21px; letter-spacing: 0.2px; overflow: hidden; font-family: "PT Sans", Arial, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.article .line { position: absolute; background: none; border-top: 1px dashed #714f3f; left: -40%; bottom: -7px; width: 950px; }

.article_pad { margin-top: 0; padding-right: 6px; }

.article_mod { margin: 0; padding: 10px 9px 26px 0; line-height: 1.5; letter-spacing: 0; }
.article_mod .article__img { margin-right: 23px; }

.article__img { float: left; margin: 6px 20px 0 0; width: 298px; height: 198px; border: 1px solid #322019; overflow: hidden; }
.article__img img { display: block; }

.article__block { margin-left: 40px; width: 186px; display: inline-block; }
.article__block .date { margin-bottom: 5px; font-size: 12px; text-decoration: none; }
.article__block .article__img { margin-bottom: 6px; width: 184px; height: 118px; background: #d7d4d2; }
.article__block .article__img img { opacity: 0.9; }
.article__block:hover img { -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; opacity: 1; }
.article__block:hover a { text-decoration: none; }
.article__block .article__link { margin-top: 10px; color: #e0ca92; letter-spacing: 0.4px; font-family: "PT Serif", Arial, sans-serif; }
.article__block .article__link:hover { text-decoration: none; }

.article__block_mod { margin-left: 0; }

.board { padding: 20px 18px 12px 15px; width: 272px; border: 1px solid #714f3f; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.board .board__link { margin: 7px 0; letter-spacing: 1px; display: inline-block; }

.title-ads { font-size: 20px; text-transform: uppercase; color: #f2cf71; letter-spacing: 0.7px; font-weight: 400; font-family: "PT Serif", Arial, sans-serif; }

.board .title-ads, .form .title-ads { position: relative; margin-bottom: 15px; padding-bottom: 8px; line-height: 1; }
.board .title-ads:before, .form .title-ads:before { position: absolute; content: ""; left: 0; bottom: 0; width: 100%; height: 1px; background-image: -moz-linear-gradient(left, #714f3f, #402b23); background-image: -webkit-linear-gradient(left, #714f3f, #402b23); background-image: linear-gradient(to right, #714f3f, #402b23); }

.board__col { position: relative; padding-bottom: 15px; margin-bottom: 15px; max-height: 125px; color: #ceb397; border-bottom: 1px dashed black; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "PT Sans", Arial, sans-serif; }
.board__col .date { padding-top: 0.5px; font-size: 12px; }
.board__col:before { position: absolute; content: ""; left: 0; bottom: -1px; width: 100%; height: 1px; opacity: 0.7; background-image: -moz-linear-gradient(left, #714f3f, #402b23); background-image: -webkit-linear-gradient(left, #714f3f, #402b23); background-image: linear-gradient(to right, #714f3f, #402b23); }

.carousel { margin-top: 36px; }
.carousel .title-l .line { left: -80%; width: 1900px; }

.carousel__block { position: relative; }
.carousel__block .carousel__nav { position: absolute; top: 50%; margin-top: -11px; background: url('../img/icons-sd69d07c121.png') 0 -42px no-repeat; width: 11px; height: 21px; }
.carousel__block .carousel__nav i { position: absolute; top: 0; left: 0; opacity: 0; background: url('../img/icons-sd69d07c121.png') 0 -42px no-repeat; width: 11px; height: 21px; }
.carousel__block .carousel__nav:hover i { opacity: 1; }
.carousel__block .carousel__nav_prev { left: -28px; }
.carousel__block .carousel__nav_next { right: -35px; -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }
.carousel__block .cycle-slideshow { margin: 20px 0 40px; width: 100% !important; overflow: hidden; }

.carousel__item { margin-right: 20px; width: 178px; height: 118px; border: 1px solid #322019; overflow: hidden; }
.carousel__item img { display: block; }

.filter { position: relative; padding: 2px; margin-top: 20px; width: 100%; height: 34px; border: solid 1px #4c382f; background: #473229; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.filter__row { padding: 0 10px 0 0; line-height: 26px; border: 1px solid #714f3f; }
.filter__row .filter__item { margin: 4px 5px 0; padding: 0 5px; color: #9b8168; font-size: 12px; line-height: 20px; vertical-align: top; display: inline-block; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; font-family: "PT Sans", Arial, sans-serif; }
.filter__row .filter__item:active { color: #e0ca92; text-decoration: none; background: #3e2a22; }
.filter__row .filter__item:hover { color: #e0ca92; text-decoration: none; }
.filter__row .filter__title { padding: 0 5px; color: #ceb397; font-weight: 400; display: inline-block; font-family: "PT Serif", Arial, sans-serif; }
.filter__row .is-active { color: #e0ca92; text-decoration: none; background: #3e2a22; }
.filter__row .filter__item_right { float: right; }

.description .article { margin: 0; padding: 20px 0; min-height: 370px; }
.description .article__img { margin-top: 2px; width: 398px; height: 298px; }
.description .title-article { margin-bottom: 18px; display: inline-block; }
.description .line { left: -100%; width: 1900px; }
.description .line_mod { border-top: 1px solid #704e3e; }
.description .soc-link_fot { margin-left: 33px; }

.article__field { margin-bottom: 12px; display: inline-block; }

.article_board { margin: 0; padding: 12px 11px 22px 0; border-bottom: 1px dashed #714f3f; }
.article_board .title-article { margin-bottom: 15px; display: block; }
.article_board .date { margin-bottom: 10px; }
.article_board .article__img { margin-right: 17px; }

.gallery { position: relative; margin-left: -36px; overflow: hidden; }
.gallery:before { position: absolute; content: ""; left: 0; bottom: 0; width: 100%; height: 1px; background-image: -moz-linear-gradient(left, #714f3f, #3f2b23); background-image: -webkit-linear-gradient(left, #714f3f, #3f2b23); background-image: linear-gradient(to right, #714f3f, #3f2b23); }
.gallery .article__block { margin: 20px 0 20px 36px; width: 215px; height: 185px; overflow: hidden; vertical-align: top; }
.gallery .article__block .article__img { margin: 0 0 5px 0; width: 213px; height: 138px; }

.gallery__treners .article__block { height: 240px; }
.gallery__treners .article__block .article__link { margin-top: 2px; margin-bottom: 8px; display: inline-block; font-size: 18px; }

.l_price { position: relative; margin-top: 0; margin-bottom: 41px; }
.l_price .title-l { margin-top: 0 !important; margin-bottom: 34px; }
.l_price:before { position: absolute; content: ""; left: 0; bottom: 0; width: 100%; height: 1px; background-image: -moz-linear-gradient(left, #714f3f, #3f2b23); background-image: -webkit-linear-gradient(left, #714f3f, #3f2b23); background-image: linear-gradient(to right, #714f3f, #3f2b23); }

.price { margin-bottom: 38px; line-height: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.price .title-price { padding-bottom: 5px; border-bottom: 1px dashed #714f3f; letter-spacing: 0.8px; }

.title-price { font-size: 20px; color: #e4cf98; font-weight: 400; line-height: 1; font-family: "PT Serif", Arial, sans-serif; }

.price__info { margin-top: 18px; color: #9b8168; font-size: 12px; font-style: italic; font-family: "PT Sans", Arial, sans-serif; }

.price__row { margin: 18px 0; line-height: 1; *zoom: 1; }
.price__row:after { content: " "; display: table; clear: both; }

.price__services { float: left; }

.price__cost { float: right; }

.price__border { height: 13px; border-bottom: 1px dotted #714f3f; overflow: hidden; }

.l__right2 { line-height: 1.6; }
.l__right2 .title-price { color: #f2cf71; line-height: 1.5; margin-bottom: 20px; letter-spacing: 0.7px; }
.l__right2 p { margin-bottom: 13px; }

.contacts { margin-top: 5px; }
.contacts .title-l { margin: 0; }

.contacts__inf { margin: 17px 0; color: #ceb397; font-size: 16px; letter-spacing: 1.35px; line-height: 1; }
.contacts__inf span { color: #9b8168; }
.contacts__inf a { color: #f2cf71; text-decoration: none; font-family: "PT Sans", Arial, sans-serif; }
.contacts__inf a:hover { text-decoration: underline; }

.form { width: 278px; height: 288px; padding: 15px 20px 20px 16px; border: 1px solid #714f3f; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.form_mod { padding-top: 35px; text-align: center; }

.form__field { margin-bottom: 13px; }
.form__field input, .form__field textarea { padding: 3px 9px; width: 100%; color: #ceb397; line-height: 1.2; letter-spacing: 1px; border: 1px solid #543b30; background: #412d24; -moz-box-shadow: inset 0 0 5px #2e211b; -webkit-box-shadow: inset 0 0 5px #2e211b; box-shadow: inset 0 0 5px #2e211b; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "PT Sans", Arial, sans-serif; }
.form__field input:-ms-input-placeholder, .form__field textarea:-ms-input-placeholder { color: #ceb397; font-family: "PT Sans", Arial, sans-serif; }
.form__field input:-moz-placeholder, .form__field textarea:-moz-placeholder { color: #ceb397; font-family: "PT Sans", Arial, sans-serif; }
.form__field input::-moz-placeholder, .form__field textarea::-moz-placeholder { color: #ceb397; font-family: "PT Sans", Arial, sans-serif; }
.form__field input::-webkit-input-placeholder, .form__field textarea::-webkit-input-placeholder { color: #ceb397; font-family: "PT Sans", Arial, sans-serif; }
.form__field input::placeholder, .form__field textarea::placeholder { color: #ceb397; font-family: "PT Sans", Arial, sans-serif; }
.form__field input:focus:-ms-input-placeholder, .form__field textarea:focus:-ms-input-placeholder { font-size: 0; }
.form__field input:focus:-moz-placeholder, .form__field textarea:focus:-moz-placeholder { font-size: 0; }
.form__field input:focus::-moz-placeholder, .form__field textarea:focus::-moz-placeholder { font-size: 0; }
.form__field input:focus::-webkit-input-placeholder, .form__field textarea:focus::-webkit-input-placeholder { font-size: 0; }
.form__field input:focus::placeholder, .form__field textarea:focus::placeholder { font-size: 0; }
.form__field input { height: 29px; line-height: 23px; }
.form__field textarea { height: 78px; resize: none; }

.form__field_textarea { position: relative; margin-bottom: 4px; }
.form__field_textarea:before { position: absolute; content: ""; right: 0; bottom: 5px; background: url('../img/icons-sd69d07c121.png') 0 0 no-repeat; width: 13px; height: 13px; }

.form__field_name { text-transform: uppercase; }

.map { margin-top: 18px; padding: 2px; height: 398px; border: 1px solid #4c382f; background: #3f2b23; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.map .map__field { padding: 4px; border: 1px solid #714f3f; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.map .map__img { position: relative; border: 1px solid #714f3f; height: 382px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.map .map__img img { display: block; }
.map .map__img #map { height: 382px; width: 100%; }
.map .map__img .ymaps-image-with-content { width: 0 !important; }
.map .map__img .ymaps-image-with-content:before { position: absolute; content: ""; top: -6px; left: -19px; z-index: 100; cursor: pointer; background: url('../img/icons-sd69d07c121.png') 0 -276px no-repeat; width: 64px; height: 69px; }

.popup { position: absolute; top: 0; left: 0; bottom: 0; width: 100%; z-index: 1000; position: fixed; background: rgba(0, 0, 0, 0.4); display: none; }
.popup.is-active { display: block; }

.poput__field { position: absolute; padding: 2px; top: 50%; left: 50%; margin: -169px 0 0 -195px; width: 390px; height: 335px; color: #9b8168; z-index: 1000; border: 1px solid #4c382f; background: #3f2b23; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "PT Sans", Arial, sans-serif; }
.poput__field i { position: absolute; content: ""; top: 6px; right: 6px; cursor: pointer; background: url('../img/icons-sd69d07c121.png') 0 -125px no-repeat; width: 10px; height: 11px; }
.poput__field i:hover { background: url('../img/icons-sd69d07c121.png') 0 -104px no-repeat; width: 10px; height: 11px; }
.poput__field .form { padding: 40px; width: 100%; height: 100%; }
.poput__field .form .btn-sbm { margin-bottom: 30px; width: 100%; }
.poput__field .form .btn-sbm span { width: 99.5%; }
.poput__field .form .title-ads { font-size: 30px; }

.fancybox-overlay-fixed { position: absolute; top: 0; left: 0; right: 0; bottom: 0; position: fixed; background: rgba(0, 0, 0, 0.5); }

.fancybox-wrap { position: fixed !important; top: 50% !important; margin: 0 auto !important; margin-top: -340px !important; padding: 2px !important; width: 838px !important; height: 638px !important; border: 1px solid #4c382f; z-index: 10000 !important; background: #3f2b23; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.fancybox-wrap:focus { outline-width: 0 !important; }
.fancybox-wrap .fancybox-skin { position: relative; border: 1px solid #714f3f; height: 100% !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.fancybox-wrap .fancybox-skin .fancybox-close { position: absolute; top: 4px; right: 4px; z-index: 2000 !important; background: url('../img/icons-sd69d07c121.png') 0 -125px no-repeat; width: 10px; height: 11px; }
.fancybox-wrap .fancybox-skin .fancybox-close:hover { position: absolute; top: 3px; right: 4px; background: url('../img/icons-sd69d07c121.png') 0 -104px no-repeat; width: 10px; height: 11px; }

.fancybox-inner { display: block; display: inline-block; line-height: 600px; vertical-align: middle; }

.fancybox-nav { position: absolute; top: 50%; margin-top: -22px; text-decoration: none; cursor: pointer; z-index: 8040; background: url('../img/icons-sd69d07c121.png') 0 -607px no-repeat; width: 22px; height: 44px; }
.fancybox-nav:hover { background: url('../img/icons-sd69d07c121.png') 0 -553px no-repeat; width: 22px; height: 44px; }

.fancybox-prev { left: -125px; -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }

.fancybox-next { right: -125px; }

.wrapper { position: relative; padding: 5px 5px 25px; color: #9b8168 !important; line-height: 1.5; font-size: 16px; z-index: 10000; background: #3f2b23; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "PT Sans", Arial, sans-serif; }
.wrapper .wrapper__topblock { margin-bottom: 10px; }
.wrapper .article__img { margin: 6px 20px 5px 0; width: 298px; height: 298px; }
.wrapper .title-ajax { margin-bottom: 10px; color: #e0ca92 !important; line-height: 1; font-size: 30px; font-weight: 400; font-family: "PT Serif", Arial, sans-serif; }

.fancybox-outer { text-align: center; min-height: 600px; line-height: 600px; }
.fancybox-outer .nav { position: absolute; top: 50%; margin-top: -22px; text-decoration: none; cursor: pointer; z-index: 8040; background: url('../img/icons-sd69d07c121.png') 0 -607px no-repeat; width: 22px; height: 44px; }
.fancybox-outer .nav:hover { background: url('../img/icons-sd69d07c121.png') 0 -553px no-repeat; width: 22px; height: 44px; }
.fancybox-outer .nav_prev { left: -125px; -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }
.fancybox-outer .nav_next { right: -125px; }
