body
	position: relative
	font-size: 14px 
	line-height: 1.4
	background: url("../img/bg-pic.png")
	background-size: cover
.wrapsite
	background: url(../img/bg-top.png) no-repeat 50% 0
=sn
	font-family: 'PT Sans', Arial, sans-serif 
	
=sr
	font-family: 'PT Serif', Arial, sans-serif
.container
	margin: 0 auto
	width: 980px
	color: #9e846b
	font-weight: 400
	+sn
	a
		color: #E0CA92 
		+sr
		&:hover
			text-decoration: none
.container__mod
	overflow: hidden
.title-l
	position: relative
	padding-bottom: 5px
	text-transform: uppercase
	font-size: 30px
	font-weight: normal
	line-height: 1
	color: #F2CF71 
	overflow: hidden
	+sr
	.line
		position: absolute
		left: -40%
		bottom: -7px
		width: 900px
.btn
	position: relative
	width: 240px
	height: 60px
	text-transform: uppercase
	text-decoration: none
	line-height: 60px
	font-size: 24px
	color: #F1CA66 
	display: inline-block
	background: url('../img/btn-bg.png')
	+box
	+sr 
	+transition(0.2s)
	&:hover
		background: url('../img/btn-h.png') 
	&:active
		background: url('../img/btn-ac.png') 
	span
		position: absolute
		top: 15px
		left: 10px
		width: 220px
		height: 20px
		z-index: -2
		+border-radius(50%)
		+box-shadow(0px 20px 30px #000)
.btn-pg
	padding: 1px 
	height: 20px
	border: 1px solid #4C382F 
	font-size: 12px 
	line-height: 20px
	text-decoration: none
	display: inline-block
	background: #50362C 
	+transition(0.2s)
	+sn
	span
		padding: 2px 6px 
		color: #9B8168
		border: 1px solid #714f3f
		+box
	&:hover
		background: #33231C 
		border-color: #33231C
		span
			border-color: #33231C
	&:active 
		background: #8C755E 
		span
			color: #3B2920
			border: 1px solid #8c755e
	&.is-active 
		background: #8C755E 
		span
			color: #3B2920
			border: 1px solid #8c755e
.btn-sbm
	padding: 1px
	border: 1px solid #4c382f 
	text-align: center
	+g(#483128, #3f2b23)
	+transition(0.1s)
	+sr
	+box
	span
		width: 234px
		height: 30px
		color: #F2CF71
		font-size: 18px 
		line-height: 28px
		border: 1px solid #714F3F 
		display: inline-block
	&:hover
		+g(#32221c, #473128)
		span
			color: #B79E85 
			border-color: rgba(0, 0, 0, 0) 
	&:active
		+box-shadow(inset 0px 4px 10px #2d1f19)
		span
			color: #B79E85 
			border-color: rgba(0, 0, 0, 0) 
.btn-sbm_sha
	position: relative
	&:before
		position: absolute
		content: ""
		left: 25px
		right: 25px
		bottom: 8px
		height: 1px
		z-index: -1
		+box-shadow(0px 4px 10px 10px #2d1f19)
	&:active
		&:before
			bottom: 12px
			+transition(0.4s)
.soc-link
	position: relative
	padding-left: 17px 
	line-height: 1
	color: #8c755e !important 
	display: inline-block
	i
		position: absolute
		content: ''
		left: 0
		top: 3px
		+s(icon-link)
	&:active
		text-decoration: none
		color: #6f4e3e
		i
			+s(icon-link_ac)
	&:hover
		text-decoration: none
.soc-link_dis
	i
		top: 1px
		+s(pic-dis)
	&:active
		i
			+s(pic-dis1)
.soc-link_fot
	i
		+s(pic-fot)
	&:active
		i
			+s(pic-fot1)
.breadcrumbs
	margin: 15px 0 12px
	line-height: 1
	li
		position: relative
		padding: 0 8px 
		font-size: 12px
		color: #9B8168
		display: inline-block
		+sn
		a
			font-size: 12px
			color: #9B8168 
			+sn
			&:hover
				text-decoration: none
		&:before
			position: absolute
			content: ''
			top: 50%
			right: -1.5px
			margin-top: -1.5px
			width: 3px
			height: 3px
			background: #714F3F 
			+border-radius(50%)
		&:first-child
			padding-left: 0
		&:last-child
			&:before
				display: none
.soc
	margin: 45px 0 20px
	li
		position: relative
		width: 20px
		height: 20px
		display: inline-block
		background: #3D2B20 
		line-height: 20px
		text-align: center
		overflow: hidden
		+border-radius(50%)
		+transition(0.2s)
		+box
		&:hover
			background: #8C755E 
		&:active
			background: none
		a
			position: absolute
			top: 50%
			left: 50%
			padding: 6px
		.vk
			margin: -4.5px 0 0 -4.5px
			+s(b)
		.tw
			margin: -6px 0 0 -9px 
			+s(tw)
		.f
			margin: -6px 0 0 -2.5px 
			+s(f)
		.in
			margin: -5px 0 0 -5px
			+s(in)
		.g
			margin: -6px 0 0 -4.5px
			+s(g)
.pagination
	margin-top: 20px
	font-size: 12px
	li
		margin-right: 3px
		display: inline-block
		+sn
		a
			height: 18px
			width: 18px
			line-height: 18px
			text-align: center
			+sn
			span
				height: 18px
				padding: 0
				display: block
		.btn-pg_pn
			width: 56px
		&:first-child
			margin-right: 10px
.footer
	position: relative
	margin: 20px auto 0
	width: 980px
	height: 158px
	font-size: 12px
	color: #8C755E 
	+sn
	.block-shadow
		top: 0
		height: 45px
		+rotate(180, deg)
.footer__copy
	float: left
	margin-top: 48px
	text-transform: uppercase
.footer__right
	float: right
	text-align: right
.development
	position: relative
	padding-right: 50px
	display: inline-block
	a
		position: absolute
		top: 50%
		right: 0
		margin-top: -8px
		+s(del)